﻿
@{
    ViewBag.Title = "Index";
}


<div class="container-fluid">
    <div class="row row_content">
        <div class="col-lg-3 col_content content_one">
            <h1 class="text-center">REWARDS!</h1>
            <h5 class="text-center">When level 1-5 is complete!</h5>
            <p class="text-center">₱150,000 & ₱25,000 worth of goods</p>
            <p class="text-danger text-center"><small>Rewards can be chaned without prior notice</small></p>
        </div>
        <div class="col-lg-3 col_content content_two">
            <h4 class="text-center">Total counts of Downlines</h4>
            <p class="text-center">Level-5</p>
            <h3 class="text-center">1333</h3>
        </div>
        <div class="col-lg-3 col_content content_three">
            <h3 class="text-center">SELL ₱1,500.00 or US $30</h3>
            <p class="text-danger text-center"><small>Amount can be changed by the admin</small></p>
        </div>
        <div class="col-lg-3 col_content content_four">
            <h3 class="text-center">BUY ₱500.00 or US $10</h3>
            <p class="text-center text-danger"><small class="">Amount can be changed by the admin</small></p>
        </div>
    </div>

    <div class="container-fluid _tabsMain">
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home"><span class="fa fa-history"> SELL HISTORY</span></a></li>
    <li><a data-toggle="tab" href="#menu1"><span class="fa fa-money-bill-alt"> BUY HISTORY</a></li>
    <li><a data-toggle="tab" href="#menu2"><span class="fa fa-dollar"> UNILEVEL CASHOUT HISTORY</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="form-responsive">
          <!-- start sell history table -->
          <br><br>    
          <table class="table _firstTable">
              <thead>
                <tr>
                  <th scope="col">Status</th>
                  <th scope="col">USD ($)</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">CONFIRMED</th>
                  <td>US $ 30</td>
                  <td>September 03 <small>2018 11:22:04 pm</small></td>
                  <td>VIEW</td>
                </tr>
                <tr>
                  <th scope="row">CONFIRMED</th>
                  <td>US $ 30</td>
                  <td>September 03 <small>2018 7:41:58 pm</small></td>
                  <td>VIEW</td>
                </tr>
                <tr>
                  <th scope="row">CONFIRMED</th>
                  <td>US $ 30</td>
                  <td>September 03 <small>2018 7:41:58 pm</small></td>
                  <td>VIEW</td>
                </tr>
                <tr>
                  <th scope="row">PENDING</th>
                  <td>US $ 30</td>
                  <td>September 03 <small>2018 11:22:04 pm</small></td>
                  <td>VIEW</td>
                </tr>
              </tbody>
            </table>
          <!-- end sell history table -->
      </div>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3>Menu 1</h3>
      <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3>Menu 2</h3>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
    </div>
  </div>
</div>

    <!-- start -->
</div>